#blogDiv{
	width: 100vw;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
#blogHead{
	width: 40vw;
	font-family: 'Noto Sans HK';
	font-size: 3vw;
	text-align: center;
	margin-bottom: : 0;
}
.blogItem{
	width: 90vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	border: solid;
	border-radius: 3vw;
	border-width: 0.1vw;
	margin-top: 1.5vh;	
	margin-bottom: 5vh;	
}
.blogItem>p{
	padding-left: 5vw;
}
.blogItemHead{
	font-family: 'Poppins';
	font-weight: bold;
	font-size: 2vw;
	width: 80vw;
	height: auto;
	text-align: left;
	margin: 0;
	padding-top: 5vh;

}
.blogItemMeta{
	font-family: 'Noto Sans HK';
	font-size: 1vw;
	margin: 0;
	font-style: italic;
	widows: 80vw;
	text-align: left;
	padding-top: 1vh;
}
.blogItemText{
	font-family: 'Nunito';
	font-size: 1.3vw;
	width: 80vw;
	text-align: justify;
}