body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	overflow-x: hidden;
	margin: 0;
}
#topBar{
	width: 100vw;
	height: 15vh;
	background-color: #C7C5B7;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
#topBarInfo{
	display: flex;
	width: 40vw;
	height: 15vh;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}
#topBarInfoName{
	width: 30vw;
	height: 8vh;
	font-family: 'Poppins';
	font-size: 2.5vw;
	text-align: center;
}
#topBarLinks{
	width: 50vw;
	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.topBarLinkItem{
	width: 10vw;
	height: 7vh;
	font-family: 'Noto Sans HK';
	font-size: 2vw;
	text-align: center;
}
.topBarLinkItem>a{
	text-decoration: none;
	transition: color 0.15s linear;
}
.topBarLinkItem>a:Link{
	color:black;
}
.topBarLinkItem>a:visited{
	color:black;
}
.topBarLinkItem>a:hover{
	cursor: pointer;
	color:white;
}
#aboutDiv{
	width:80vw;
	height: auto;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding-top: 10vh;
}
#aboutImg{
	width: 20vw;
	height: auto;
	border-radius: 10vw;
}
#aboutCont{
	width: 45vw;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
#aboutContHead{
	width: 40vw;
	height: auto;
	font-family: 'Noto Sans HK';
	font-size: 2.5vw;
	text-align: left;
	margin: 0;
}
#aboutContText{
	width: 40vw;
	height: auto;
	font-family: 'Nunito';
	font-size: 1.6vw;
	text-align: justify;
}