#aboutDiv{
	width:100vw;
	height: auto;
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 10vh;
	padding-bottom: 5vh;
}
#aboutImg{
	width: 20vw;
	height: auto;
	border-radius: 10vw;
	padding:auto;
}
#aboutCont{
	width: 80vw;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
#aboutContHead{
	width: 30vw;
	height: auto;
	font-family: 'Noto Sans HK';
	font-size: 2.5vw;
	text-align: center;
	margin: 0;
}
#aboutContText{
	width: 40vw;
	height: auto;
	font-family: 'Nunito';
	font-size: 1.6vw;
	text-align: justify;
}

#contactDiv{
	width:100vw;
	height: auto;
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 5vh;
	background-color: #C7C5B7;
}
#contactContHead{
	width: 40vw;
	height: auto;
	font-family: 'Noto Sans HK';
	font-size: 2.5vw;
	text-align: center;
	margin: 0;
}
#contactContText{
	width: 40vw;
	height: auto;
	font-family: 'Nunito';
	font-size: 1.6vw;
	text-align: justify;
}

@media only screen and (max-width: 500px){
	#aboutDiv{
		padding-top: 2vh;
		padding-bottom: 2vh;
	}
	#aboutContHead,#contactContHead{
		width:70vw;
		font-size:2.5vh;
	}
	#aboutCont{
		width: 80vw;
		flex-direction: column;
	}
	#aboutImg{
		width: 40vw;
		border-radius: 30vw;
		padding: 1.5vh;
	}
	#aboutContText,#contactContText{
		width: 80vw;
		font-size:2vh;
	}
	#contactDiv{
		padding-top: 2vh;
		padding-bottom: 2vh;
	}
}