#cent_logo{
	position: absolute;
	width:100vw;
	left: -1vw;
	top:10vh;
}
body{
	overflow-x: hidden;
}
#title{
	top:-12vh;
	width:40vw;
	left:30vw;
	text-align: center;
	color:white;
	font-size: 10vw;
	font-family: Amaranth;
	position: absolute;
}
#desc{
	position: absolute;
	top:65vh;
	width: 60vw;
	left:20vw;
	font-size: 3vw;
	font-family: 'Josefin Sans',sans-serif;
	text-align: center;
	color: white;
}
#year{
	position: absolute;
	width:40vw;
	text-align: center;
	left:30vw;
	top:70vh;
	color: white;
	font-size: 5vw;
}
#more{
	position: absolute;
	top:10vh;
	width: 60vw;
	left:20vw;
	text-align: center;
	font-size: 3.5vw;
	font-family: Jura;
	z-index: 5;
	color: white;
}