
#headReach{
	width:30vw;
	left:35vw;
	position: absolute;
	top:10vh;
	font-size: 3vw;
	font-family: 'Josefin Sans';
	text-align: center;
	color: white;
}
#textReach{
	width:60vw;
	left:20vw;
	top:23vh;
	font-family: Jura;
	font-size: 1.5vw;
	position: absolute;
	color: white;
}
#headContact{
	width:30vw;
	left:35vw;
	position: absolute;
	top:60vh;
	font-size: 3vw;
	font-family: 'Josefin Sans';
	text-align: center;
	color: white;
}
#textContact{
	width:60vw;
	left:20vw;
	top:75vh;
	font-family: Jura;
	font-size: 1.5vw;
	position: absolute;
	color: white;
}
.chlink:link{
	color: #ECF4FF;
}
.chlink:visited{
	color:3D87E3;
}

@media screen and (max-width: 500px){
	#headReach{
		top:7vh;
	}
	#textReach{
		top:15vh;
	}
	#headContact{
		top:35vh;
	}
	#textContact{
		top:45vh;
	}
}