.core_name{

	position: absolute;
	font-family: Jura;
	text-align: center;
	font-size: 2vw;
	color: white;
	width: 10vw;
	top:30vh;
} 
.event_org{
	position: absolute;
	font-family: Jura;
	text-align: center;
	font-size: 2vw;
	color: white;
	width: 10vw;
	top:65vh;
}
#core{
	text-align: center;
	width:20vw;
	font-size: 4vw;
	left:40vw;
	font-family: Amaranth;
	color: white;
	top:10vh;
	position: absolute;
}
#simli{
	left:5vw;
}
#arijeet{
	left:25vw;
}
#naman{
	left:45vw;
}
#vishal{
	left:65vw;
}
#me{
	left:85vw;
}
#eveOrg{
	text-align: center;
	width:40vw;
	font-size: 3vw;
	left:30vw;
	font-family: Amaranth;
	color: white;
	top:50vh;
	position: absolute;	
}
#shesh{
	left:5vw;
}
#debs{
	width:15vw;
	left:20vw;
}
#trigg{
	left:40vw;
}
#shaata{
	left:55vw;
}
#avni{
	left:70vw;
}
#abhig{
	left:85vw;
}
@media screen and (max-width: 500px){
	#core{
		top:10vh;
	}
	.core_name{
		top:20vh;
	}
	#eveOrg{
		top:30vh;
	}
	.event_org{
		top:40vh;
	}
}