---
title: Organizers and contacts
description: Organizers and contacts.
image: /images/ponte_consafelzi.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Organizers and contacts</h1>
		</div>
	</div>
</section>

<section class="pad">
	<div class="container">
		<p class="editor-link"><a href="cloudcannon:collections/_organizers" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff">
			{% for person in site.organizers %}
				<li>
					<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name"><a href={{ person.website }} target="_blank" >{{ person.name }}</a></div>
					<div class="position">{{ person.position }}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>


<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Contacts</h2>
				<p>For any further question please write to <a href="mailto:liph.unipd@gmail.com">liph.unipd@gmail.com</a>.</p>
			</div>
		</div>
	</section>

	<!--<div class="content">
		<section class="info" id="learn-more">
			<div class="container flex">
				<div class="text">
					<h2 class="editable">Sponsors</h2>
					<a href="https://www.math.unipd.it/it/" target="_blank"><img src="../images/logoDM.png" alt="Department of Mathematics, University of Padua" width="200"></a>
					&nbsp; &nbsp; &nbsp; &nbsp;
					<a href="https://www.dfa.unipd.it/" target="_blank"><img src="../images/logoDFA.png" alt="Department of Physics and Astronomy, University of Padua" width="200"></a>
					&nbsp; &nbsp; &nbsp; &nbsp;
					<img src="../images/ECLT.png" alt="European Center of Living Technology" width="200">
				</div>
			</div>
		</section>-->



</div>
