---
title: Speakers
description: Invited speakers.
image: /images/rialto.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Invited speakers</h1>
			<p class="subtext editable">List of confirmed invited speakers</p>
		</div>
	</div>
</section>

<section class="pad">
	<div class="container">
		<p class="editor-link"><a href="cloudcannon:collections/_speakers" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff">
			<p>This list is being constantly updated. Complete information available soon.</p>
			{% for person in site.speakers %}
				<li>
					<!--<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>-->
					<div class="name">{{ person.name }}</div>
					<div class="position">{{ person.position }}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
